*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    font: 25px "Century Gothic", Futura, sans-serif;
    background-color: aqua;
    height: 100vh;
    align-items: center; /*axe des y*/
    justify-content: center; /*axe des x*/
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 112px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 112px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    background-color: beige;
    border-radius: 15px;
    padding: 10% 100px;
    width: 100%;
}

.game-info {
    margin-left: 20px;
}
